<div class="d-flex flex-column">
  <div class="alert alert-danger text-center col-4 position-absolute" role="alert" *ngIf="stopAlert">
    Connect Interrupt
  </div>
  <div class="alert alert-success text-center col-4 position-absolute" role="alert" *ngIf="showConnectAlert">
    Connected
  </div>
  <div class="alert alert-danger text-center col-4 position-absolute" role="alert" *ngIf="charLengthAlert">
    Opps!!! The Serial Number Length is invalid!! Try Again!! The length must be {{ curLength }} 
  </div>
  <div class="alert alert-success col-4 position-absolute" role="alert" *ngIf="finishedAlert">
    The job has been completed, please press the reset and proceed to the next round
  </div>
  <div class="alert alert-danger col-4 position-absolute text-center position-relative remind" role="alert" *ngIf="showRemind">
    <p>Warning!! Will be Reset!!</p>
    <div class="flex justify-content-between">
      <button class="btn btn-danger" (click)="reset()">confirm</button>
      <button class="btn btn-danger ml-3" (click)="cancel()">cancel</button>
    </div>
  </div>
  <div class="d-flex dashboardZone">
    <div class="col-8 p-3">
      <app-charts [closeStocket]="closeStocket" [isConnect]="isConnect" [info]="info" [stopAndReset]="stopAndReset" (sendLog)="showLog($event)"
        (finished)="ableReset()"></app-charts>
    </div>
    <div class="col-4 p-3">
      <form [formGroup]="basicForm" (ngSubmit)="onSubmit($event)">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Serial Number</span>
          </div>
          <input required type="text" class="form-control" formControlName="number" #inputFoucs>
        </div>
        <div class="d-flex justify-content-around position-relative">
          <button type="submit" class="btn btn-info" *ngIf="toggleBtn" [disabled]="!basicForm.valid && !auth">Start Connect</button>
          <button type="button" class="btn btn-warning" *ngIf="!toggleBtn" (click)="reset()" [disabled]="enabledReset">Reset</button>
        </div>
      </form>
      <div class="my-2">
        <div class="row">
          <div class="col-6">
            <div class="p-2 border rounded position-relative h-100">
              <span>Alarm</span>
              <span class="alarmLight"
                [ngClass]="{'success': dashboard.status === 1, 'fail': dashboard.status === 2, 'run': dashboard.status === 0}"></span>
            </div>
          </div>
          <div class="col-6">
            <div class="p-2 border rounded position-relative">
              <span>Lock Torque</span>
              <div class="text-center font-weight-bold h3 m-0">{{ dashboard.torque }} <span
                  class="font-weight-light h5">{{ unit }}</span></div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <div class="p-2 border rounded">
              <span>Lock Angle</span>
              <div class="text-center font-weight-bold h3 m-0">{{ dashboard.angle }} <span
                  class="font-weight-light h5">deg</span></div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-2 border rounded">
              <span>Lock Time</span>
              <div class="text-center font-weight-bold h3 m-0">{{ dashboard.time }} <span
                  class="font-weight-light h5">ms</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overflow-auto">
    <app-tables [data]="tableReport"></app-tables>
  </div>
</div>