<div class="d-flex flex-column py-4">
  <div class="alert alert-danger col-4 position-absolute" role="alert" *ngIf="noDataAlert">
    此區間查無資料
  </div>
  <form [formGroup]="historyForm" (ngSubmit)="onSubmit()" class="col-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Serial Number</span>
      </div>
      <select required formControlName="serialNumber" class="form-control">
        <option value="">請選擇</option>
        <option *ngFor="let list of lists" [value]="list">{{ list }}</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">開始時間</span>
      </div>
      <input required type="date" class="form-control" formControlName="startDate">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">結束時間</span>
      </div>
      <input required type="date" class="form-control" formControlName="endDate">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!historyForm.valid">送出查詢</button>
  </form>

  <div class="col-12">
    <app-tables [data]="tableList"></app-tables>
  </div>
</div>
