<table id="table-data" class="h-100">
    <tr>
      <th>ElapsedTime</th>
      <th>RPM</th>
      <th>ScrewLeft</th>
      <th>Station</th>
      <th>TightAglLowerLmt</th>
      <th>TightAglUpperLmt</th>
      <th>TightAngle</th>
      <th>Torque</th>
      <th>TorqueLowerLmt</th>
      <th>TorqueUpperLmt</th>
      <th>TotalAglLowerLmt</th>
      <th>TotalAglUpperLmt</th>
      <th>TotalAngle</th>
      <th>Direction</th>
      <th>Finish</th>
      <th>Report</th>
      <th>Status</th>
      <th>Temperature</th>
      <th>TorqueUnit</th>
    </tr>
    <tr>
      <td>ElapsedTime</td>
      <td>RPM</td>
      <td>ScrewLeft</td>
      <td>Station</td>
      <td>TightAglLowerLmt</td>
      <td>TightAglUpperLmt</td>
      <td>TightAngle</td>
      <td>Torque</td>
      <td>TorqueLowerLmt</td>
      <td>TorqueUpperLmt</td>
      <td>TotalAglLowerLmt</td>
      <td>TotalAglUpperLmt</td>
      <td>TotalAngle</td>
      <td>Direction</td>
      <td>Finish</td>
      <td>Report</td>
      <td>Status</td>
      <td>Temperature</td>
      <td>TorqueUnit</td>
    </tr>
    <tr>
      <td>ElapsedTime</td>
      <td>RPM</td>
      <td>ScrewLeft</td>
      <td>Station</td>
      <td>TightAglLowerLmt</td>
      <td>TightAglUpperLmt</td>
      <td>TightAngle</td>
      <td>Torque</td>
      <td>TorqueLowerLmt</td>
      <td>TorqueUpperLmt</td>
      <td>TotalAglLowerLmt</td>
      <td>TotalAglUpperLmt</td>
      <td>TotalAngle</td>
      <td>Direction</td>
      <td>Finish</td>
      <td>Report</td>
      <td>Status</td>
      <td>Temperature</td>
      <td>TorqueUnit</td>
    </tr>
    <tr>
      <td>ElapsedTime</td>
      <td>RPM</td>
      <td>ScrewLeft</td>
      <td>Station</td>
      <td>TightAglLowerLmt</td>
      <td>TightAglUpperLmt</td>
      <td>TightAngle</td>
      <td>Torque</td>
      <td>TorqueLowerLmt</td>
      <td>TorqueUpperLmt</td>
      <td>TotalAglLowerLmt</td>
      <td>TotalAglUpperLmt</td>
      <td>TotalAngle</td>
      <td>Direction</td>
      <td>Finish</td>
      <td>Report</td>
      <td>Status</td>
      <td>Temperature</td>
      <td>TorqueUnit</td>
    </tr>
    <tr>
      <td>ElapsedTime</td>
      <td>RPM</td>
      <td>ScrewLeft</td>
      <td>Station</td>
      <td>TightAglLowerLmt</td>
      <td>TightAglUpperLmt</td>
      <td>TightAngle</td>
      <td>Torque</td>
      <td>TorqueLowerLmt</td>
      <td>TorqueUpperLmt</td>
      <td>TotalAglLowerLmt</td>
      <td>TotalAglUpperLmt</td>
      <td>TotalAngle</td>
      <td>Direction</td>
      <td>Finish</td>
      <td>Report</td>
      <td>Status</td>
      <td>Temperature</td>
      <td>TorqueUnit</td>
    </tr>
  </table>