<table id="table-data" class="h-100">
    <tr>
      <th class="bg-light text-dark">Serial</th>
      <th class="bg-light text-dark">Time</th>
      <th class="bg-light text-dark">Lock Time</th>
      <th class="bg-light text-dark">Screw Left</th>
      <th class="bg-light text-dark">Finish</th>
      <th style="background:#dfa800; color:#343a40;">Torque</th>
      <th style="background:#ffc928; color:#343a40;">Torque<br>LLimit</th>
      <th style="background:#ffc928; color:#343a40;">Torque<br>ULimit</th>
      <th style="background:#ffc928; color:#343a40;">Torque<br>Unit</th>
      <th style="background:#308d46">Lock<br>Angle</th>
      <th class="bg-success">LockAngle<br>LLimit</th>
      <th class="bg-success">LockAngle<br>ULimit</th>
      <th style="background:#2375cd">Tight<br>Angle</th>
      <th class="bg-primary">Tighten Angle<br>LLimit</th>
      <th class="bg-primary">Tighten Angle<br>ULimit</th>
      <th style="background:#1d8494">Direction</th>
      <th class="bg-info">Fault<br> Reason</th>
      <th class="bg-info">Status</th>
      <th class="bg-info">Temp.</th>
    </tr>
    <tr *ngFor="let item of data">
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.serialNumber }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.time }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.nElapsedTime }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.nScrewLeft }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.snFinish }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.nTorque }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.nTorqueLowerLmt }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.nTorqueUpperLmt }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.snTorqueUnit }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.nTotalAngle }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.nTightAglLowerLmt }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.nTightAglUpperLmt }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.nTightAngle }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.nTotalAglLowerLmt }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.nTotalAglUpperLmt }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.snDirection }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.snReport }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.snStatus }}</td>
      <td [ngClass]="{'background-fail': item.snStatus == 'NG'}">{{ item.snTemperature }}</td>
    </tr>
  </table>

